.day__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(black, 0.75);
}

.day__modal {
  opacity: 1;
  width: 70%;
  background-color: $day__modal-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  a {
    color: white;
    text-decoration: underline;
    transition: color 200ms ease;
    cursor: pointer;
    &:hover {
      color: $day__title-color;
      transition: color 200ms ease;
    }
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    min-height: 100vh;
  }
  &:after {
    background-image: url(../images/popup-left-desktop.svg);
    background-position: 0 100%;
    height: 100%;
    left: -9vh;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    position: absolute;
    z-index: 1000;
    bottom: -2vh;
    width: 16vh;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  &:before {
    background-image: url(../images/popup-right-desktop.svg);
    background-position: 100% 100%;
    width: 30vh;
    right: -18vh;
    height: 100%;
    bottom: -2vh;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    position: absolute;
    z-index: 1000;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.day__content {
  width: 100%;
  padding: 5vw 10vw;
  @media screen and (max-width: 800px) {
    padding: 7vw 10vw;
    min-height: 100%;
    z-index: 2000;
    position: relative;
    overflow: scroll;
    background-image: radial-gradient(#0d0e17 at 47% 81%, #192e50 at 35%, #337782 at 82%);
  }
}

.day__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  line-height: 1;
  z-index: 9999;
}

.day__date {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: block;
  margin-bottom: 1.5em;
  font-size: 0.9em;
}

.day__title {
  font-family: $font-title;
  color: $day__title-color;
  font-size: 2.5em;
  width: 100%;
  text-align: left;
  line-height: 1;
  margin-bottom: 0.25em;
  a {
    color: $day__title-color;
    text-decoration: underline;
    transition: color 200ms ease;
    cursor: pointer;
    &:hover {
      color: white;
      transition: color 200ms ease;
    }
  }
}

.day__desc {
  line-height: 1.45;
  li {
    margin-bottom: 0.25em;
  }
  p {
    font-weight: 500;
  }
  strong {
    font-weight: 700;
  }
  .lead {
    font-size: 1.25em;
  }
}

.day__share {
  display: block;
  float: left;
  @media screen and (max-width: 600px) {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.day__twitter-link {
  float: left;
  @media screen and (max-width: 600px) {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
  }
  img {
    transition: opacity 200ms ease;
    width: 20em;
    margin: 1em -2.5em;
  }
  &:hover img {
    opacity: 0.9;
    transition: opacity 200ms ease;
  }
  &:active img {
    opacity: 1;
    transition: opacity 200ms ease;
  }
}

a.company__section {
  display: flex;
  margin-top: 1em;
  float: right;
  text-align: right;
  align-items: center;
  text-decoration: none;
  @media screen and (max-width: 600px) {
    float: none;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.company__text {
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 1.2;
  font-size: 0.9em;
  display: inline-block;
  margin: 0 1em;
}

.company__logo {
  float: right;
  display: inline-block;
}

.company__img {
}
