.main__svg {
  height: 100%;
  width: 100%;
}

// GROUPS #group-1
.group__item {
}


// OUTLINE #outline-1
.outline {
  fill: #34B6E6!important;
}


// NUMBER #num-1
.num {
  fill: #009dd6;
}

.shadow {
  fill: #007ba8;
}


// ACTIVE STARS #active-1
.active-stars {
  display: none;
}


// PEELS  #peel-1
.peel__item {
  display: none;
}


body.day-1 {
  #active-1 { display: block;  }
  #num-1    { fill: white;     }
  #group-1  { cursor: pointer; }
}

body.day-2 {
  #active-2 { display: block;  }
  #num-2    { fill: white;     }
  #group-2  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
}

body.day-3 {
  #active-3 { display: block;  }
  #num-3    { fill: white;     }
  #group-3  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
}

body.day-4 {
  #active-4 { display: block;  }
  #num-4    { fill: white;     }
  #group-4  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
}

body.day-5 {
  #active-5 { display: block;  }
  #num-5    { fill: white;     }
  #group-5  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
}

body.day-6 {
  #active-6 { display: block;  }
  #num-6    { fill: white;     }
  #group-6  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
}

body.day-7 {
  #active-7 { display: block;  }
  #num-7    { fill: white;     }
  #group-7  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
}

body.day-8 {
  #active-8 { display: block;  }
  #num-8    { fill: white;     }
  #group-8  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
}

body.day-9 {
  #active-9 { display: block;  }
  #num-9    { fill: white;     }
  #group-9  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
}

body.day-10 {
  #active-10 { display: block;  }
  #num-10    { fill: white;     }
  #group-10  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
}

body.day-11 {
  #active-11 { display: block;  }
  #num-11    { fill: white;     }
  #group-11  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
}

body.day-12 {
  #active-12 { display: block;  }
  #num-12    { fill: white;     }
  #group-12  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
}

body.day-13 {
  #active-13 { display: block;  }
  #num-13    { fill: white;     }
  #group-13  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
}

body.day-14 {
  #active-14 { display: block;  }
  #num-14    { fill: white;     }
  #group-14  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
}

body.day-15 {
  #active-15 { display: block;  }
  #num-15    { fill: white;     }
  #group-15  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
}

body.day-16 {
  #active-16 { display: block;  }
  #num-16    { fill: white;     }
  #group-16  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
}

body.day-17 {
  #active-17 { display: block;  }
  #num-17    { fill: white;     }
  #group-17  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
}

body.day-18 {
  #active-18 { display: block;  }
  #num-18    { fill: white;     }
  #group-18  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
  #peel-17   { display: block;  cursor: pointer; }
}

body.day-19 {
  #active-19 { display: block;  }
  #num-19    { fill: white;     }
  #group-19  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
  #peel-17   { display: block;  cursor: pointer; }
  #peel-18   { display: block;  cursor: pointer; }
}

body.day-20 {
  #active-20 { display: block;  }
  #num-20    { fill: white;     }
  #group-20  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
  #peel-17   { display: block;  cursor: pointer; }
  #peel-18   { display: block;  cursor: pointer; }
  #peel-19   { display: block;  cursor: pointer; }
}

body.day-21 {
  #active-21 { display: block;  }
  #num-21    { fill: white;     }
  #group-21  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
  #peel-17   { display: block;  cursor: pointer; }
  #peel-18   { display: block;  cursor: pointer; }
  #peel-19   { display: block;  cursor: pointer; }
  #peel-20   { display: block;  cursor: pointer; }
}

body.day-22 {
  #active-22 { display: block;  }
  #num-22    { fill: white;     }
  #group-22  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
  #peel-17   { display: block;  cursor: pointer; }
  #peel-18   { display: block;  cursor: pointer; }
  #peel-19   { display: block;  cursor: pointer; }
  #peel-20   { display: block;  cursor: pointer; }
  #peel-21   { display: block;  cursor: pointer; }
}

body.day-23 {
  #active-23 { display: block;  }
  #num-23    { fill: white;     }
  #group-23  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
  #peel-17   { display: block;  cursor: pointer; }
  #peel-18   { display: block;  cursor: pointer; }
  #peel-19   { display: block;  cursor: pointer; }
  #peel-20   { display: block;  cursor: pointer; }
  #peel-21   { display: block;  cursor: pointer; }
  #peel-22   { display: block;  cursor: pointer; }
}

body.day-24 {
  #active-24 { display: block;  }
  #num-24    { fill: white;     }
  #group-24  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
  #peel-17   { display: block;  cursor: pointer; }
  #peel-18   { display: block;  cursor: pointer; }
  #peel-19   { display: block;  cursor: pointer; }
  #peel-20   { display: block;  cursor: pointer; }
  #peel-21   { display: block;  cursor: pointer; }
  #peel-22   { display: block;  cursor: pointer; }
  #peel-23   { display: block;  cursor: pointer; }
}

body.day-25 {
  #active-25 { display: block;  }
  #num-25    { fill: white;     }
  #group-25  { cursor: pointer; }
  #peel-1   { display: block;  cursor: pointer; }
  #peel-2   { display: block;  cursor: pointer; }
  #peel-3   { display: block;  cursor: pointer; }
  #peel-4   { display: block;  cursor: pointer; }
  #peel-5   { display: block;  cursor: pointer; }
  #peel-6   { display: block;  cursor: pointer; }
  #peel-7   { display: block;  cursor: pointer; }
  #peel-8   { display: block;  cursor: pointer; }
  #peel-9   { display: block;  cursor: pointer; }
  #peel-10   { display: block;  cursor: pointer; }
  #peel-11   { display: block;  cursor: pointer; }
  #peel-12   { display: block;  cursor: pointer; }
  #peel-13   { display: block;  cursor: pointer; }
  #peel-14   { display: block;  cursor: pointer; }
  #peel-15   { display: block;  cursor: pointer; }
  #peel-16   { display: block;  cursor: pointer; }
  #peel-17   { display: block;  cursor: pointer; }
  #peel-18   { display: block;  cursor: pointer; }
  #peel-19   { display: block;  cursor: pointer; }
  #peel-20   { display: block;  cursor: pointer; }
  #peel-21   { display: block;  cursor: pointer; }
  #peel-22   { display: block;  cursor: pointer; }
  #peel-23   { display: block;  cursor: pointer; }
  #peel-24   { display: block;  cursor: pointer; }
}
