body {
  background: radial-gradient(#337782, #192e50, #0d0e17);
  background-image: url('../images/background-desktop.svg');
  background-size: cover;
  font-family: $font-primary;
  color: white;
  font-size: 17px;
  width: 100%;
  overflow-x: hidden;
  background-position: center right;
  @media screen and (max-width: 750px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 22px;
  }
}

.logo {
  margin: 0 auto;
  width: 75%;
  height: auto;
  display: block;
  max-width: 310px;
  margin-bottom: 1em;
  @media screen and (max-width: 750px) {
    display: none;
  }
}

.home-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.home-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}

.home__main {
  display: flex;
  min-height: 100vh;
  @media screen and (max-width: 750px) {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.home__logo--main {
  display: none;
  margin: 1em auto;
  width: 70%;
  height: auto;
  max-width: 240px;
  @media screen and (max-width: 750px) {
    display: block;
  }
}

.home__aside {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  @media screen and (min-width: 751px) {
    width: 28%;
    min-width: 28%;
  }
  @media screen and (max-width: 750px) {
    display: none;
    &:first-child {
      display: flex;
    }
  }
}

.home__calendar {
  flex: 1;
  position: relative;
  text-align: center;
  min-height: 600px;
  svg {
    height: 100vh;
    width: 100%;
    @media screen and (max-width: 750px) {
      width: 100%;
      height: auto;
      margin-top: 2em;
    }
  }
  @media screen and (max-width: 750px) {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }
  @media screen and (min-width: 751px) {
    width: 50%;
    min-width: 50%;
  }
}

.home__aside--top {
    padding: 1.5em;
    margin: 1em;
    position: relative;
    font-weight: 500;
    color: #017896;
    background-image: url(../images/text-background.png);
    background-size: 100% 100%;
    font-size: .9em;
  a {
    color: #017896;
    text-decoration: underline;
    transition: color 100ms ease;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      color: #01cbfe;
      transition: color 200ms ease;
    }
  }
}

#title-top-1 {
  cursor: pointer;
}
