body {
  background: radial-gradient(#337782, #192e50, #0d0e17);
  background-image: url('../images/background-desktop.png');
  background-size: cover;
  font-family: $font-primary;
  color: white;
  font-size: 17px;
  width: 100%;
  background-position: center;
  &.modal-open {
    height: 100%;
    overflow: hidden;
    position: fixed;
  }
}

.logo {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
  max-width: 310px;
  margin-bottom: 1em;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.home-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.home-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}

.home__main {
  display: flex;
  min-height: 100vh;
  @media screen and (max-width: 600px) {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.home__logo--main {
  display: none;
  margin: 1em auto;
  width: 70%;
  height: auto;
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.home__aside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  @media screen and (min-width: 601px) {
    width: 25%;
    min-width: 25%;
  }
  @media screen and (max-width: 600px) {
    display: none;
    &:first-child {
      display: flex;
    }
  }
}

.home__calendar {
  flex: 1;
  position: relative;
  text-align: center;
  min-height: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  svg {
    height: 100vh;
    width: 100%;
    @media screen and (max-width: 600px) {
      width: 100%;
      height: auto;
      margin-top: 2em;
    }
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }
  @media screen and (min-width: 601px) {
    width: 50%;
    min-width: 50%;
  }
}

.home__aside--top {
  padding: 1em;
  font-size: 0.95em;
  margin: 1em;
  position: relative;
  font-weight: 500;
  text-shadow: 1px 1px 5px #111e27;
  background: #19262f9c;
  a {
    color: white;
    text-decoration: underline;
    transition: color 200ms ease;
    cursor: pointer;
    &:hover {
      color: $day__title-color;
      transition: color 200ms ease;
    }
  }
}

#title-top-1 {
  cursor: pointer;
}
