$font-primary        : 'Lato', sans-serif;
$font-script         : 'Courgette', cursive;
$font-title          : 'Aladin', cursive;

$blue--light         : #1097c0;
$blue--medium        : #016177;
$yellow              : #DDa62a;
$gray-dark           : #424242;

$home__bg            : $blue--light;
$day__title-color    : $yellow;
$day__backgdrop-bg   : $gray-dark;
$day__modal-bg       : $blue--medium;
$box-bg              : rgba(0, 151, 195, 0.87);
