$font-primary: 'Avenir Next', sans-serif;
$font-script: 'Avenir Next', sans-serif;
$font-title: 'Avenir Next', sans-serif;

$blue--light: #8CD3F8;
$blue--medium: #163150;
$yellow: #dda62a;
$gray-dark: #424242;
$red: #d26651;
$blue--bright: #1699C9;

$home__bg: $blue--light;
$day__title-color: $blue--light;
$day__backgdrop-bg: $gray-dark;
$day__modal-bg: $blue--bright;
