$font-primary: 'Avenir Next', sans-serif;
$font-script: 'Avenir Next', sans-serif;
$font-title: 'Avenir Next', sans-serif;

$blue--light: #1097c0;
$blue--medium: #013348;
$yellow: #dda62a;
$gray-dark: #424242;
$red: #d26651;

$home__bg: $blue--light;
$day__title-color: $red;
$day__backgdrop-bg: $gray-dark;
$day__modal-bg: $blue--medium;
