.modal-open {
  overflow: hidden
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0
}

.modal-dialog {
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  z-index: 9999;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, -50px)
}

.modal.show .modal-dialog {
  transform: none
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02)
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
  max-height: 100vh;
  overflow: hidden
}

.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
  flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;

  @media (max-aspect-ratio: 64/85) {
    flex-direction: column;
    justify-content: space-around;
  }

}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: min-content;
  content: ""
}

.modal-content {
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  pointer-events: auto;
  position: relative;
  width: 50vw;
  z-index: 9999999;

  @media (min-aspect-ratio: 2/1) {
    width: 90vh;
  }

  @media (max-aspect-ratio: 64/85) {
    width: 90vw;
    font-size: .85em;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: .5;

  @media (max-aspect-ratio: 64/85) {
    background: #7E5DFF;
    opacity: .9;
  }
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width:576px) {
  .modal-dialog {
    max-width: 40%;
    margin: .5vh auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 1vh)
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1vh)
  }

  .modal-dialog-centered {
    min-height: calc(100% - 1vh)
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 1vh);
    height: min-content
  }

  .modal-sm {
    max-width: 300px
  }
}

.fade {
  transition: opacity .15s linear
}

.fade:not(.show) {
  opacity: 0
}

#modal-share {
  cursor: pointer;
}

.hover-light {
  fill: #ff655d;
}

#modal-share:hover .hover-light {
  fill: #ff655d;
}

.hover-dark {
  fill: #ff8b7a;
}

#modal-share:hover .hover-dark {
  fill: #e15049;
}

#close-button {
  cursor: pointer;
}

#mobile-close-button {
  cursor: pointer;
}

.modal-open {
  overflow: hidden
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

#modal-logo-container {
  display: none;
}

.modal {
  font-size: 15px;
  line-height: 1.3;
  color: #FFFFFF;
  @media (min-aspect-ratio: 2/1) {
    font-size: .8em;
  }

  @media (min-aspect-ratio: 3/1) {
    font-size: .7em;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 1em;
  }

  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFC165;
    margin-bottom: .25em;
  }

  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 1.375em;
    line-height: 1.2;
    color: #78E4FF;
    margin-top: .75em;
    margin-bottom: .25em;

  }

  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.3;
    color: #FFFFFF;
  }

  a {
    transition: color 100ms ease;
    font-weight: bolder;
    color: #ffd493;

    &:hover {
      color: #fdc97b;
    }
  }
}

#modal-svg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  margin: 0;
  z-index: 9998;
  justify-content: center;

  @media (max-aspect-ratio: 64/85) {
    display: none;
  }

}

#modal-actions {
  display: none;

  @media (max-aspect-ratio: 64/85) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
}

#mobile-close-button {
  display: none;

  @media (max-aspect-ratio: 64/85) {
    cursor: pointer;
    display: block;
    max-height: 5.5em;
    height: auto;
    position: relative;
    width: 34vw;
    z-index: 9999;
  }
}

#mobile-modal-share {
  display: none;

  @media (max-aspect-ratio: 64/85) {
    cursor: pointer;
    display: block;
    max-height: 6em;
    height: auto;
    position: relative;
    width: 50vw;
    z-index: 9999;
  }
}

.modal-dialog-centered #logo-mobile {
  display: none;

  @media (max-aspect-ratio: 64/85) {
    z-index: 9999;
    position: relative;
    display: block;
    margin-top: 2.5em;
  }
}
